<section class="show-products">
  <h2
    class="text-mainColor w-fit ms-10 relative text-lg before:left-[-20px] before:content[''] before:bg-mainColor before:w-[10px] before:h-[100%] before:absolute before:top-0"
  >
    Your Wishlist
  </h2>

  <div class="container mt-20 mx-auto">
    <app-reusableproducts
      [showHeart]="true"
      [products]="wishlists"
      [fromWishlist]="fromWishlist"
    ></app-reusableproducts>
    @if(_WishlistService.wishlistCount() === 0){
    <p class="shadow-2xl py-10 px-20 text-center">Your Wishlist is Empty!</p>
    }
  </div>
</section>
