<footer class="bg-black pt-10">
  <div class="mx-auto w-full max-w-screen-xl">
    <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4">
      <div>
        <h2 class="mb-6 text-white">
          <a
            routerLink="/home"
            class="self-center text-2xl font-extrabold whitespace-nowrap dark:text-white"
            >Exclusive</a
          >
        </h2>
        <ul class="text-gray-50 font-sm">
          <li class="mb-4">
            <a href="#" class="hover:underline">Subscribe</a>
          </li>
          <li class="mb-3">
            <span class="text-[13px]">Get 10% off your first order</span>
          </li>
          <li class="relative">
            <input
              type="text"
              placeholder="Enter Your E-mail"
              class="border-white w-[100%] bg-transparent focus:ring-white focus:border-white placeholder:text-[10px]"
            />
            <i
              class="fa-regular fa-paper-plane absolute right-[7%] top-[15px] cursor-pointer text-[10px]"
            ></i>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-md font-semibold text-gray-50 dark:text-white">
          Support
        </h2>
        <ul class="text-white dark:text-white font-light text-sm">
          <li class="mb-4">
            <a href="#" class="hover:underline"
              >111 Bijoy sarani, Dhaka,<br />
              DH 1515, Bangladesh.</a
            >
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">exclusivegmail.com</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">+88015-88888-9999</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-md font-semibold text-white dark:text-white">
          Account
        </h2>
        <ul class="text-gray-50 dark:text-white font-light text-sm">
          <li class="mb-4">
            <a href="#" class="hover:underline">My Account</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Login / Register</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Cart</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Brands</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-md font-semibold text-white dark:text-white">
          Download App
        </h2>
        <ul class="text-gray-50 dark:text-white font-light text-sm">
          <li class="mb-4">
            <a href="#" class="hover:underline text-[12px]"
              >Save $3 with App New User Only</a
            >
          </li>
          <li class="mb-4 flex gap-2">
            <img class="w-[50px]" src="/imgs/qrcode.svg" alt="" />
            <div class="info">
              <div class="border-white">
                <img
                  class="w-[75px]"
                  src="/imgs/download-appstore.png"
                  alt=""
                />
              </div>
              <div class="border-white">
                <img
                  class="w-[75px]"
                  src="/imgs/png-transparent-google-play-store-logo-google-play-app-store-android-wallets-text-label-logo.png"
                  alt=""
                />
              </div>
            </div>
          </li>

          <li class="mb-4">
            <ul class="flex gap-4 social">
              <li>
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
              </li>
              <li>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
              </li>
              <li>
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <hr class="bg-gray-500" />
    <div class="px-4 py-6 bg-black text-center">
      <span class="text-[12px] text-gray-500 dark:text-white text-center"
        >© 2025 <a href="https://flowbite.com/">Exclusive</a>. All Rights
        Reserved.
      </span>
    </div>
  </div>
</footer>
