<div class="container">
  <div class="grid grid-cols-2 place-items-center">
    <div class="image w-[80%]">
      <img src="/imgs/dl.beatsnoop 1.png" alt="" />
    </div>
    <div class="info mx-auto w-[50%]">
      <h2 class="text-2xl font-medium">Forgot Password</h2>
      <span class="text-[13px]">Enter your details below</span>
      <!-- frist form -->
      @if(steps === 1){

      <form class="mt-4" [formGroup]="verifyEmail" (ngSubmit)="sendEmail()">
        <div class="relative z-0 w-full mb-5 group">
          @let emailError = verifyEmail.get('email');
          <input
            formControlName="email"
            type="email"
            name="floating_email"
            id="floating_email"
            class="block py-2.5 px-0 w-full text-sm text-gray-700 bg-transparent border-0 border-b border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-mainColor peer"
            placeholder=" "
            required
          />
          <label
            for="floating_email"
            class="peer-focus:font-medium absolute text-[12px] text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-mainColor peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Email address</label
          >
          @if (emailError?.errors && emailError?.touched) {
          <div
            class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 mt-5"
            role="alert"
          >
            <svg
              class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>

            <div>
              <span>Try again :</span>
              <ul class="mt-1.5 list-inside list-none">
                @if (emailError?.getError('required')) {
                <li>⚠ This field is required.</li>
                } @else if (emailError?.getError('email')) {
                <li>⚠ Please insert a valid email.</li>

                }
              </ul>
            </div>
          </div>
          }
        </div>

        <button
          type="submit"
          class="text-white disabled:bg-zinc-700 bg-mainColor hover:bg-opacity-70 focus:outline-none font-medium rounded-sm text-sm w-full px-5 py-2.5 text-center"
        >
          Send Email @if (isLoading) {<i
            class="fa-solid fa-spinner fa-spin-pulse"
          ></i
          >}
        </button>
        <!--       
             @if (msgError) {
             <span class="text-red-950 text-[13px] block text-center">{{
               msgError
             }}</span>
             } -->
      </form>
      }
      <!-- second form -->
      @else if (steps === 2) {
      <form class="mt-4" [formGroup]="sendCode" (ngSubmit)="verifyCode()">
        <div class="relative z-0 w-full mb-5 group">
          @let codeError = sendCode.get('resetCode');
          <input
            formControlName="resetCode"
            type="text"
            name="restCode"
            id="restCode"
            class="block py-2.5 px-0 w-full text-sm text-gray-700 bg-transparent border-0 border-b border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-mainColor peer"
            placeholder=" "
            required
          />
          <label
            for="restCode"
            class="peer-focus:font-medium absolute text-[12px] text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-mainColor peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Reset Code</label
          >
          @if (codeError?.errors && codeError?.touched) {
          <div
            class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 mt-5"
            role="alert"
          >
            <svg
              class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>

            <div>
              <span>Try again :</span>
              <ul class="mt-1.5 list-inside list-none">
                @if (codeError?.getError('required')) {
                <li>⚠ This field is required.</li>
                } @else if (codeError?.getError('pattern')) {
                <li>⚠ Please insert a valid code consist of 6 terms.</li>

                }
              </ul>
            </div>
          </div>
          }
        </div>

        <button
          type="submit"
          class="text-white disabled:bg-zinc-700 bg-mainColor hover:bg-opacity-70 focus:outline-none font-medium rounded-sm text-sm w-full px-5 py-2.5 text-center"
        >
          Send Code @if (isLoading) {<i
            class="fa-solid fa-spinner fa-spin-pulse"
          ></i
          >}
        </button>
        <!--       
            @if (msgError) {
            <span class="text-red-950 text-[13px] block text-center">{{
              msgError
            }}</span>
            } -->
      </form>
      }

      <!-- third form  -->
      @else if (steps === 3) {

      <form class="mt-4" [formGroup]="updatePass" (ngSubmit)="verifyNewPass()">
        <div class="relative z-0 w-full mb-5 group">
          @let eError = updatePass.get('email');
          <input
            formControlName="email"
            type="email"
            name="floating_email"
            id="floating_email"
            class="block py-2.5 px-0 w-full text-sm text-gray-700 bg-transparent border-0 border-b border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-mainColor peer"
            placeholder=" "
            required
            readonly
          />
          <label
            for="floating_email"
            class="peer-focus:font-medium absolute text-[12px] text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-mainColor peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Email address</label
          >
          @if (eError?.errors && eError?.touched) {
          <div
            class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 mt-5"
            role="alert"
          >
            <svg
              class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>

            <div>
              <span>Try again :</span>
              <ul class="mt-1.5 list-inside list-none">
                @if (eError?.getError('required')) {
                <li>⚠ This field is required.</li>
                } @else if (eError?.getError('email')) {
                <li>⚠ Please insert a valid email.</li>

                }
              </ul>
            </div>
          </div>
          }
        </div>
        <div class="relative z-0 w-full mb-5 group">
          @let passwordError = updatePass.get('password');

          <input
            formControlName="newPassword"
            type="password"
            name="newPassword"
            id="newPassword"
            class="block py-2.5 px-0 w-full text-sm text-gray-700 bg-transparent border-0 border-b border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-mainColor peer"
            placeholder=" "
            required
          />
          <label
            for="newPassword"
            class="peer-focus:font-medium absolute text-[12px] text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-mainColor peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >new Password</label
          >
          @if (passwordError?.errors && passwordError?.touched) {
          <div
            class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 mt-5"
            role="alert"
          >
            <svg
              class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>

            <div>
              <span>Try again :</span>
              <ul class="mt-1.5 list-inside list-none">
                @if (passwordError?.getError('required')) {
                <li>⚠ This field is required.</li>
                }
              </ul>
            </div>
          </div>
          }
        </div>

        <button
          type="submit"
          class="text-white disabled:bg-zinc-700 bg-mainColor hover:bg-opacity-70 focus:outline-none font-medium rounded-sm text-sm w-full px-5 py-2.5 text-center"
        >
          Reset Password @if (isLoading) {<i
            class="fa-solid fa-spinner fa-spin-pulse"
          ></i
          >}
        </button>
        <!--       
    @if (msgError) {
        <span class="text-red-950 text-[13px] block text-center">{{
            msgError
        }}</span>
        } -->
      </form>
      }
    </div>
  </div>
</div>
