<section class="container mx-auto text-center">
  <p class="text-[64px] font-bold">404 Not Found</p>
  <span class="inline-block my-10 text-[13px]"
    >Your visited page not found. You may go home page.</span
  >
  <button
    data-aos="fade-up"
    [routerLink]="'/home'"
    class="block mx-auto px-12 mt-7 py-6 border-[1px] border-gray-100 text-[13px] outline-none shadow-xl text-white bg-mainColor hover:bg-transparent hover:text-black transition-effect"
  >
    Back To Home !
  </button>
</section>
